<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Bruger Liste</title>
    <link href="stylesheet.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="col">
        <a href="/match" th:unless="${userIden.isAdmin()}"><p>Match</p></a>
        <a href="/inbox" th:unless="${userIden.isAdmin()}"><p>Indbakke</p></a>
        <a href="/profile"  th:unless="${userIden.isAdmin()}"><p>Profil</p></a>
        <a href="/userList" th:if="${userIden.isAdmin()}"><p>Bruger liste</p></a>
    </div>
    <div class="col">
        <div style="border-style: solid">
            <p th:text="${errorMessage} ?: ''"></p>
            <div>
                <div th:each="candidate: ${candidateList}">
                    <div style="border-style: solid">
                        <img th:src="${candidate.getSecondaryPhoto()}" style="height: 40px; width: 40px">
                        <span th:text="' ' + ${candidate.getSecondaryUsername()} + ', '"></span>
                        <span th:text="${candidate.getBirthdate()} + ', '"></span>
                        <span th:if="${candidate.getSex()}==1">Kvinde</span>
                        <span th:if="${candidate.getSex()}==2">Mand</span>
                        <span th:if="${candidate.getSex()}==3">Andet</span>
                        <form th:if="${userIden.isAdmin()}" action="/userInbox">
                            <input method="GET" type="hidden" name="userID" id="userID" th:value="${candidate.getSecondaryID()}">
                            <input type="submit" value="Inbakke">
                        </form>
                        <form th:if="${userIden.isAdmin()}" action="/userProfile">
                            <input method="GET" type="hidden" name="userID" id="userID" th:value="${candidate.getSecondaryID()}">
                            <input type="submit" value="Profil">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col">
        <a href="/logout"><p>logout</p></a>
        <br><br><br>
        <form action="/searchUser" method="get" th:if="${userIden.isAdmin()}">
            <label for="username">Brugernavn</label><br>
            <input type="text" name="username" id="username"><br>
            <input type="submit" value="Søg bruger">
        </form>
    </div>
</div>
</body>
</html>

<!--/ <div class="col-lg-1">
        <a href="/match" th:unless="${userIden.isAdmin()}"><p>Match</p></a>
        <a href="/inbox" th:unless="${userIden.isAdmin()}"><p>Indbakke</p></a>
        <a href="/profile"  th:unless="${userIden.isAdmin()}"><p>Profil</p></a>
        <a href="/userList" th:if="${userIden.isAdmin()}"><p>Bruger liste</p></a>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-4">
        <div style="border-style: solid">
            <div th:each="candidate: ${candidateList}">
                <p th:text="${candidate.getSecondaryUsername()}">
                <p th:text="${candidate.getBirthdate()}">
                </p>
                <p th:if="${candidate.getSex()}==1">Kvinde</p>
                <p th:if="${candidate.getSex()}==2">Mand</p>
                <p th:if="${candidate.getSex()}==3">Andet</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <a href="/logout"><p>logout</p></a>
    </div> -->