<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="stylesheet.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
</head>
<body>
<p>Hello World</p>
<form method="post" action="/gem" enctype="multipart/form-data">
    <label for="filSelect">Vælgfil:</label><br>
    <input type="file" id="filSelect" name="fil"><br>
    <input type="submit" value="Submit">
</form>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-4">
        <div style="alignment: center">
            <form method="post" action="/loginRequest">
                <label for="username">Brugernavn</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Kodeord</label><br>
                <input type="text" id="password" name="password"><br>
                <input type="submit" value="Login">
            </form>
            <img src="user_photos/stock_photo.png" alt="stock_photo">
            <!--/*@thymesVar id="photoname" type="String"*/-->
            <img th:src="${photoname}" th:alt="${photoname}">
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>

</body>
</html>