<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Match</title>
    <link href="stylesheet.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="col-lg-2">
        <a href="/match" th:unless="${userIden.isAdmin()}"><p>Match</p></a>
        <a href="/inbox" th:unless="${userIden.isAdmin()}"><p>Indbakke</p></a>
        <a href="/candidates" th:unless="${userIden.isAdmin()}"><p>Kandidater</p></a>
        <a href="/profile"  th:unless="${userIden.isAdmin()}"><p>Profil</p></a>
        <a href="/userList" th:if="${userIden.isAdmin()}"><p>Bruger liste</p></a>
    </div>
    <div class="col-lg-6">
        <p th:text="${errorMessage} ?: ''"></p>
        <!--/*@thymesVar id="secondaryUser" type="secondaryUser"*/-->
        <div th:unless="${secondaryUser} == null">

            <img style="height: 400px;width: 400px" th:alt="${secondaryUser.getSecondaryUsername()}" th:src="${secondaryUser.getSecondaryPhoto()}"><br>
            <span th:text="${secondaryUser.getSecondaryUsername()} + ', ' + ${secondaryUser.getSecondaryAge()} + ', '"></span><span th:if="${secondaryUser.getSecondarySex()} == 1">Kvinde</span><span th:if="${secondaryUser.getSecondarySex()} == 2">Mand</span><span th:if="${secondaryUser.getSecondarySex()} == 3">Andet</span>
            <br><br>
            <div class="row">
                <div class="col">
                    <p style="font-weight: bold">Yndlings fisk?!</p>
                    <p th:text="${secondaryUser.getKeyword1()}"></p>
                    <p style="font-weight: bold">Yndlings film</p>
                    <p th:text="${secondaryUser.getKeyword2()}"></p>
                    <p style="font-weight: bold">Yndlings ret</p>
                    <p th:text="${secondaryUser.getKeyword3()}"></p>
                    <br>
                </div>
                <div class="col">
                    <p style="font-weight: bold">Beskrivelse</p>
                    <p th:text="${secondaryUser.getSecondaryDescription()}"></p></div>
            </div>

        </div>
    </div>
    <div class="col-lg-2">
        <a href="/logout"><p>logout</p></a>
        <br><br><br><br><br><br><br><br><br>
        <div th:unless="${secondaryUser} == null">
            <a th:href="'/likeUser?secondaryID=' + ${secondaryUser.getSecondaryUserID()}"><p>Like bruger</p></a><br>
            <a href="/match"><p>Næste bruger</p></a>
        </div>

    </div>
</div>
</body>
</html>