<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link href="stylesheet.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <a href="/match" th:unless="${userIden.isAdmin()}"><p>Match</p></a>
            <a href="/inbox" th:unless="${userIden.isAdmin()}"><p>Indbakke</p></a>
            <a href="/candidates" th:unless="${userIden.isAdmin()}"><p>Kandidater</p></a>
            <a href="/profile"  th:unless="${userIden.isAdmin()}"><p>Profil</p></a>
            <a href="/userList" th:if="${userIden.isAdmin()}"><p>Bruger liste</p></a>
        </div>
        <div class="col-lg-2">
            <div style="alignment: center">
                <form method="get" action="/profile">
                    <label for="firstname">Fornavn</label><br>
                    <input th:value="${profile.getFirstName()}" type="text" id="firstname" name="firstname"><br>
                    <label for="surname">Efternavn</label><br>
                    <input th:value="${profile.getSurName()}" type="text" id="surname" name="surname"><br>
                    <label for="sex">Køn</label><br>
                    <select th:value="${profile.getSex()}" type="text" name="sex" id="sex">
                        <option value="1">Kvinde</option>
                        <option value="2">Mand</option>
                        <option value="3">Andet</option>
                    </select><br><br>
                    <label for="birthdate">Fødselsdag</label>
                    <input th:value="${profile.getBirthdate()}" type="text" id="birthdate" name="birthdate">
                    <label for="birthdate">Måned</label>
                    <input th:value="${profile.getBirthdate()}" type="text" id="birthdate" name="birthdate">
                    <label for="birthdate">Dag</label>
                    <input th:value="${profile.getBirthdate()}" type="text" id="birthdate" name="birthdate">
                    <label for="email">E-mail</label><br>
                    <input th:value="${profile.getEmail()}" type="text" id="email" name="email"><br>
                    <label for="username">Brugernavn</label><br>
                    <input th:value="${profile.getUserName()}" type="text" id="username" name="username"><br>
                    <label for="password">Kodeord</label><br>
                    <input th:value="${profile.getPassword()}" type="text" id="password" name="password"><br>
                    <label for="decription">Beskrivelse</label>
                    <input th:value="${profile.getDescription()}" type="text" id="decription" name="description"/>
                </form>
                <br>
                <form action="/changeProfile">
                    <input type="button" name="userID" value="Rediger Profil"/>
                </form>
                <br>
                <form method="post" action="/deleteProfile">
                    <input type="submit" value="Slet Profil"/>
                    <input type="hidden" name="userID" th:value="${profile.getUserID()}">
                </form>
            </div>
        </div>
        <div class="col-lg-2">
            <form method="get" action="/getKeywords">
                <label for="keyword1">Yndlings fisk</label><br>
                <input type="text" id="keyword1" name="keyword1"><br>
                <label for="keyword2">Yndlings film</label><br>
                <input type="text" id="keyword2" name="keyword2"><br>
                <label for="keyword3">Yndlings ret</label><br>
                <input type="text" id="keyword3" name="keyword3"><br>
            </form>
            <br>
            <form method="get" action="/changeKeywords">
                <input type="button" name="keywords" value="Rediger"/>
            </form>
        </div>
    <div class="col-lg-2">
        <img style="height: 200px;width: 200px" th:alt="${userIden.getUserID()}" th:src="${profile.getPictureName()}">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit"value="Upload" />
            <input type="button"value="Delete file"/>
        </form>
    </div>
        <div class="col-lg-1">
            <a href="/logout"><p>logout</p></a>
            <br><br><br><br><br><br><br><br><br>
        </div>
    <div class="col-lg-3"></div>

</div>
</body>
</html>